/* Importer la police vintage de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

body {
    background-color: #1c1c1c; /* Couleur de fond sombre */
    color: #f5f5f5; /* Couleur du texte clair */
    font-family: 'Raleway Dots', sans-serif; /* Police vintage */
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway Dots', sans-serif; /* Appliquer la police rétro aux titres */
    color: #ffcc00; /* Couleur rétro pour les titres */
}

p {
    font-family: Arial, sans-serif; /* Pour un contraste, les paragraphes peuvent avoir une police plus moderne */
    color: #e0e0e0; /* Légèrement moins lumineux pour éviter une fatigue visuelle */
}

a {
    color: #ff9900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
